/* ----------------------------------------------------------------------------
* Structure
* ------------------------------------------------------------------------- */


/* global box-sizing */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
*,
html,
body {
    font-family: "Libre Franklin", sans-serif;
    color: white;
}

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    outline: none;
}


/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/

html {
    height: 100%;
    min-height: 100%;
    background: #070505;
    scroll-behavior: smooth;
}

video {
    pointer-events: none;
}

body {
    color: $medium-text;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: white;
    @media screen and (max-width: 575px) {
        overflow-x: hidden;
        height: auto;
    }
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

#not-found-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    h1 {
        text-align: center;
        font-size: 7rem;
        margin: 0 0 2rem;
        color: $c1;
        line-height: 1;
    }
    .sub {
        margin-bottom: 1rem;
    }
    a {
        color: $c1;
    }
}

.lightcase-open {
    overflow: hidden !important;
}


/* clear */

.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    // max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
}

ol,
ul {}

select {
    width: 100%;
}

h1,
h2,
h3 {
    color: $bg;
    line-height: 0.9;
    letter-spacing: -0.2px;
    font-family: Work Sans;
    font-weight: 700;
    font-style: italic;
}

h1 {
    font-size: 5rem;
    line-height: 0.9;
    font-family: Work Sans !important;
    @media screen and (max-width: 575px) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    @media screen and (max-width: 575px) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    @media screen and (max-width: 1500px) {
        font-size: 1.6rem;
    }
}


/* Helper Classes */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.regular-text {
    h2,
    h3 {
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
    ul,
    ol {
        margin: 1rem 0 1rem 1rem;
        li {
            margin: 0 0 1rem 1rem;
        }
    }
}


/* Navigation */

.container {
    &.small {
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}

nav#desktop {
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 1rem 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    color: white;
    .logo-wrapper {
        padding: 0;
    }
    .menu {
        display: flex;
        align-items: left;
        background: none;
        font-weight: 500;
        letter-spacing: 0;
        font-size: 0.8rem;
    }
    img {
        width: 100%;
        height: 85px;
        object-fit: contain;
    }
    li {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    a {
        list-style: none;
        text-align: center;
        letter-spacing: 0.2rem;
        color: white;
        display: inline-block;
    }
    a:hover {
        color: $or;
        opacity: 1;
    }
    .nav-contact {
        flex-wrap: wrap;
        @media screen and (max-width: 1199px) {
            padding-right: 0;
            .line {
                display: none;
            }
        }
        display: inline-block;
        font-size: 0.8rem;
        opacity: 65%;
        position: relative;
    }
    .line {
        content: "";
        position: relative;
        background-color: $w;
        width: 2px;
        // height: 10px;
        bottom: 3px;
        opacity: 0.65;
        right: 18px;
        z-index: 4;
        border-radius: 42px;
    }
    .inquire {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.bigpadding {
    padding-right: 0 !important;
}

.wt-btn_sign {
    font-size: 1.1rem;
    font-family: Work Sans;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -.21px;
    white-space: nowrap;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    // line-height: 20px;
    background: transparent;
    border: 1px solid #FF9900;
    // height: 45px;
    padding: 5px 10px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.wt-btn_sign:hover {
    color: white;
    background: #FF9900;
    transition: all ease 0.2s;
}

.wt-btn_sign-bound {
    display: block;
    overflow: hidden;
    border-radius: 22px;
}

.wt-btn_sign-bound span {
    position: relative;
    display: inline-block;
    padding: 0 22px;
    color: #FF9900;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-style: 1.1rem;
    font-family: Work Sans !important;
    -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
    -moz-animation: wt-btn_sign-marquee 2s linear infinite;
    -o-animation: wt-btn_sign-marquee 2s linear infinite;
    animation: wt-btn_sign-marquee 2s linear infinite;
}

.wt-btn_sign-bound span:hover {
    color: white;
    background: #FF9900;
    transition: all ease 0.2s;
}

.wt-btn_sign-bound span:after {
    content: attr(data-text);
    position: absolute;
    left: 100%;
    padding: 0 23px;
}

@-webkit-keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-moz-keyframes wt-btn_sign-marquee {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-o-keyframes wt-btn_sign-marquee {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

nav#mobile {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 25;
    padding: 1.5rem 1rem;
    position: absolute;
    .logo-wrapper {
        width: 150px;
        height: auto;
        // margin-left: 5%;
        padding-left: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            z-index: 21;
        }
    }
    &.open {
        position: fixed;
        // top: 0px !important;
        .logo-wrapper {
            // transform: translateX(2rem);
            z-index: 24;
            // -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            // animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }
    .current-menu-item>a {
        color: #FF9900;
    }
    .sub-menu {
        li {
            font-size: 1rem;
            border: none;
        }
    }
}

#mobile_menu {
    color: $c1;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    overflow-x: hidden;
    transition: 0.5s;
    left: 0;
    top: 0;
    visibility: hidden;
    transition: 250ms all ease;
    z-index: -1;
    opacity: 0;
    will-change: visibility;
    &.open {
        visibility: visible;
        opacity: 1;
        background-color: rgba(black, 1);
        z-index: 20;
        display: flex;
        justify-content: center;
        li {
            transform: translateX(0);
        }
    }
    li {
        padding: 2rem 0;
        width: 100%;
        transform: translateX(-100px);
        will-change: transform;
        transition: 800ms all ease-in-out;
    }
    ul {
        counter-reset: section;
    }
    li:before {
        display: block;
        counter-increment: section;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 500;
        font-size: 0.7rem;
        text-align: center;
        letter-spacing: 0.305em;
        text-transform: uppercase;
        color: rgba(185, 185, 185, 0.53);
        content: counters(section, "\00000a")" ";
    }
    a {
        color: $c1;
        font-family: Work Sans;
        font-style: italic;
        font-weight: bold;
        font-size: 2rem;
        /* identical to box height, or 120% */
        text-align: center;
        text-transform: uppercase;
        transition: 250ms all ease;
        &:hover {
            color: #FFF;
        }
    }
    .wt-btn_sign {
        font-size: 2rem;
        border-radius: 30px;
        margin-top: 2rem;
    }
}

.hamburger {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 100;
    outline: none;
    color: $or;
    &:hover {
        opacity: 0.7;
    }
    svg {
        stroke: red;
        transition: .2s;
        height: 30px;
        width: 30px;
        margin-left: 0.5rem;
        g {
            &:first-child {
                opacity: 1;
                transition: opacity 0s .2s;
                line {
                    transition: transform .2s .2s;
                    // transform: translateY(0px);
                }
            }
            &:last-child {
                opacity: 0;
                transition: opacity 0s .2s;
                line {
                    transition: transform .2s;
                    transform: rotate(0deg);
                    transform-origin: center;
                }
            }
        }
    }
    &.is-active {
        // padding-top: 20%;
        svg {
            g {
                &:first-child {
                    opacity: 0;
                    line {
                        transition: transform .2s;
                        &:first-child {
                            // transform: translateY(7px);
                        }
                        &:last-child {
                            // transform: translateY(-7px);
                        }
                    }
                }
                &:last-child {
                    opacity: 1;
                    line {
                        transition: transform .2s .2s;
                        &:first-child {
                            transform: rotate(45deg);
                        }
                        &:last-child {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.hamburger-box {
    width: 57px;
    height: 57px;
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    right: 30px;
    top: 10px;
}

.hamburger-inner {
    top: 50%;
    margin-top: 15px;
    height: 2px;
    width: 23px;
    background-color: black;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    align-items: center;
    justify-content: center;
    right: 17px;
    &::before,
    &::after {
        height: 2px;
        width: 23px;
        background-color: black;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }
    &::before,
    &::after {
        content: "";
        display: block;
    }
    &::before {
        top: -10px;
    }
    &::after {
        bottom: -10px;
    }
}

.hamburger--spring {
    .hamburger-inner {
        top: 8px;
        transition: background-color 0s 0.13s linear;
        &::before {
            top: 5px;
            transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        &::after {
            top: 10px;
            transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
    &.is-active .hamburger-inner {
        transition-delay: 0.22s;
        background-color: transparent !important;
        &::before {
            top: -5px;
            transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, 10px, 0) rotate(45deg);
        }
        &::after {
            top: -5px;
            transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, 10px, 0) rotate(-45deg);
        }
    }
}

// html,
// body {
//     &,
//     * {
//         cursor: none;
//     }
// }
// .cursor-dot,
// .cursor-dot-outline {
//     pointer-events: none;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     border-radius: 50%;
//     opacity: 0;
//     transform: translate(-50%, -50%);
//     transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
//     z-index: 100;
// }
// .cursor-dot {
//     $size: 8px;
//     width: $size;
//     height: $size;
//     background-color: $dark-bg;
//     border: 1px solid rgba($c1, 0.5);
// }
// .cursor-dot-outline {
//     $size: 40px;
//     width: $size;
//     height: $size;
//     background-color: rgba($c1, 0.2);
//     border: 1px solid rgba($dark-bg, 0.25);
// }
#footer {
    padding: 5rem 0 2rem;
    .top {
        margin-bottom: 5rem;
    }
    ul li {
        list-style-type: none;
        margin-bottom: 1rem;
        a {
            font-weight: 500;
        }
    }
    .footer-menu {
        >div:first-of-type {
            margin-right: 3rem;
        }
    }
    .seperator {
        margin: 0 0.5rem;
    }
    .newsletter-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 575px) {
            flex-direction: column;
            .submit-btn {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 0;
                padding: 0;
                .ajax-loader {
                    display: none;
                }
            }
        }
        input[type=email] {
            background-color: rgba($c1, 0.2);
            padding: 1rem;
            height: 60px;
            color: $medium-text;
            font-size: 0.9rem;
            &::placeholder {
                color: #bbb;
            }
            width: 280px;
        }
        button {
            @extend .btn;
            @extend .btn.solid;
            border-radius: 0;
            height: 60px;
            svg g {
                fill: #FFF;
            }
        }
    }
    .newsLetter {
        flex-direction: column;
        .nlTitle {
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 0.9rem;
            /* identical to box height */
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-bottom: 1rem;
        }
        .nlSub {
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 0.7rem;
            /* identical to box height */
            color: rgba(255, 255, 255, 0.3);
            padding-top: 0.5rem;
        }
        input[type=email] {
            background: #191C1E;
            border-radius: 59px;
            padding: 0.8rem 1rem;
            width: 100%;
            max-width: 300px;
            font-size: 0.75rem;
        }
        .wpcf7 form.sent .wpcf7-response-output {
            border: none;
            font-family: Work Sans;
            font-style: italic;
            font-weight: bold;
            text-transform: uppercase;
            color: $or;
            margin: 0 !important;
        }
        .wpcf7-submit {
            background: rgba(196, 196, 196, 0.05);
            border-radius: 59px;
            padding: 0.3rem 1rem;
            z-index: 5;
            margin-left: -55px
        }
        button:hover {
            background: white;
            transition: all 0.3s ease-in-out;
            svg path {
                fill: black;
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
        }
        .newsLetterForm {
            display: flex;
            flex-direction: row;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        select[type=email]:-webkit-autofill,
        select[type=email]:-webkit-autofill:hover,
        select[type=email]:-webkit-autofill:focus,
        input[type=email]:-webkit-autofill,
        input[type=email]:-webkit-autofill:hover,
        input[type=email]:-webkit-autofill:focus,
        input:focus {
            fill: none;
            transition: background-color 5000s ease-in-out 0s;
            outline: none;
            -webkit-text-fill-color: white;
            background: #191C1E;
            border-radius: 59px;
        }
    }
    .wpcf7 form.invalid .wpcf7-response-output {
        border: none;
        font-family: Work Sans;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        color: red;
        margin: 0 !important;
        @media screen and (max-width: 575px) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
    .wpcf7-not-valid-tip {
        display: none;
    }
    .endFooter {
        font-size: 0.75rem;
        .rightRes {
            color: rgba(255, 255, 255, 0.3) !important;
        }
        .ferraz {
            float: right;
            color: rgba(255, 255, 255, 0.3) !important;
            .fc {
                color: white;
            }
            .fc:hover {
                color: #FF9900;
            }
            a:hover {
                color: white;
            }
        }
        padding-top: 5rem;
    }
    .left-menu,
    .right-menu {
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        /* identical to box height */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #4A4A4A;
        flex-direction: row;
    }
    .left-menu {
        margin-right: 3rem;
    }
    li>a:hover {
        color: white;
        transition: all 0.3s ease-out;
    }
    @media screen and (max-width: 991px) {
        .footerTop {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .logo-wrapper {
            justify-content: center;
            img {
                height: 100%;
                width: 30%;
                margin-bottom: 3rem;
            }
        }
        .left-menu,
        .right-menu {
            flex-direction: column;
            flex-wrap: wrap;
            width: 50%;
            margin-right: 0;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 3rem 0 3rem;
        .logo-wrapper {
            img {
                margin-bottom: 2rem;
            }
        }
        .left-menu,
        .right-menu {
            text-align: center
        }
        .newsLetter {
            padding-top: 2rem;
            justify-content: center;
            text-align: center;
            .newsLetterForm {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 1.5rem !important;
            }
        }
        .endFooter {
            text-align: center;
            padding-top: 2rem;
        }
    }
    @media screen and (max-width: 575px) {
        .logo-wrapper {
            img {
                width: 40%;
            }
        }
        .endFooter {
            text-align: center;
            padding-top: 2rem;
            font-size: 0.7rem;
        }
        .wpcf7-submit {
            padding: 0.5rem 1rem !important;
        }
    }
}

.logged-in nav#desktop {
    top: 30px;
}

.container {
    @media screen and (max-width: 575px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* Building Blocks */

.btn {
    font-size: 0.8rem;
    font-weight: 500;
    transition: 250ms all ease;
    display: inline-block;
    &.solid {
        padding: 7px 25px;
        justify-content: center;
        background-color: #fff;
        border-radius: 60px;
        font-weight: 700;
        color: black;
        height: 45px;
        text-transform: uppercase;
        font-family: Work Sans;
        font-style: italic;
        font-weight: bold;
        font-size: 1.25rem;
        &.alt {
            background-color: $c2;
        }
        &.white {
            background-color: #FFF;
            color: $c2;
            &:hover {
                background-color: transparent;
                color: #FFF;
                border-color: #FFF;
            }
        }
    }
    &.outline {
        padding: 7px 25px;
        justify-content: center;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 60px;
        font-weight: 700;
        color: white;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: Work Sans;
        font-style: italic;
        font-weight: bold;
        font-size: 1.25rem;
        &.alt {
            color: $c2;
            border-color: $c2;
            &:hover {
                background-color: $c2;
                color: #FFF;
            }
        }
        &:hover {
            background-color: $or;
            color: white;
            border: 1px solid $or;
            svg path {
                fill: white !important;
            }
        }
        svg {
            margin-left: 0.5rem;
            width: 30px;
            height: 30px;
        }
    }
    &.orange {
        color: #fff;
        background-color: $or;
        border-radius: 2px;
        padding: 0.2rem 1.25rem;
    }
    // &.inquire {
    //     color: #fff;
    //     background-color: $or;
    //     border-radius: 2px;
    //     padding: 0.2rem 1.25rem;
    //     overflow: hidden;
    //     position: relative;
    //     div {
    //         display: block;
    //         width: 200%;
    //         height: 30px;
    //         position: absolute;
    //         overflow: hidden;
    //         animation: marquee 5s linear infinite;
    //     }
    //     li {
    //         float: left;
    //         width: 50%;
    //     }
    //     @keyframes inquire {
    //         0% {
    //             left: 0;
    //         }
    //         100% {
    //             left: -100%;
    //         }
    //     }
    // }
}

body {
    // margin: 20px;
}

.marquee {
    height: 30px;
    width: 160px;
    overflow: hidden;
    position: relative;
    color: white;
}

.marquee div {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    overflow: hidden;
    animation: marquee 10s linear infinite;
    color: white;
}

.marquee span {
    float: right;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.arrow-btn {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 250ms all ease;
    line-height: 1;
    color: $dark-text;
    svg {
        transition: 250ms all ease;
        margin-left: 0.5rem;
    }
    &:hover {
        svg {
            transform: translateX(5px);
        }
    }
    &.white {
        color: #FFF;
        svg g {
            fill: #FFF;
        }
    }
}

.sub {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    color: $medium-text;
    letter-spacing: 0.1px;
}

section {
    padding: 7rem 0;
}

.page-header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c1;
    padding-top: 30px;
    h1 {
        color: #FFF;
    }
    margin-top:0;
}

.sub-title-text-btn {
    h1,
    h2,
    h3 {
        margin: 0 0 1rem;
    }
    p {
        margin: 2rem 0;
    }
    justify-content: center;
    align-items: center;
}

.image-text {
    h2 {
        @media screen and (max-width: 991px) {
            margin-top: 1rem;
        }
    }
    &.right {
        background-image: url("data:image/svg+xml,%3Csvg width='1440' height='711' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-48 52.453L1487 0v664.727L-48 711V52.453z' fill='%23111112'/%3E%3C/svg%3E");
        background-size: 100%, contain;
        background-repeat: no-repeat;
    }
    &.right .row {
        flex-direction: row-reverse;
    }
}

.image-checkboxes {
    h2,
    h3 {
        margin: 0 0 1rem;
        @media screen and (max-width: 991px) {
            margin-top: 1rem;
        }
    }
    p {
        margin: 1rem 0 2rem;
    }
    &.right .row {
        flex-direction: row-reverse;
    }
    .checkboxes {
        .check-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 0.2rem;
            @media screen and (max-width: 575px) {
                align-items: flex-start;
            }
            svg {
                width: 20px;
                height: 20px;
                fill: $c1;
                margin-right: 0.5rem;
                @media screen and (max-width: 575px) {
                    margin-top: 0.1rem;
                }
            }
        }
    }
    .btn {
        margin-top: 2rem;
    }
}

.image-testimonial-overlay {
    // padding: 10rem 0;
    color: #ffffff;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -2%;
    h3 {
        font-size: 2.2rem;
    }
    .text {
        position: relative;
        z-index: 2;
    }
    h3 {
        margin: 0 0 1rem;
        color: #ffffff;
    }
    p {
        margin: 0;
    }
}

.three-cards {
    @media screen and (max-width: 991px) {
        .col-12 {
            margin-top: 2rem;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem;
        background-color: #FFF;
        color: $medium-text;
        margin: 0 0.75rem;
        width: 100%;
        height: 100%;
        ul {
            margin-top: 1rem;
            list-style-type: none;
            height: 80px;
            margin-left: 0.25rem;
            @media screen and (max-width: 991px) {
                height: auto;
            }
            li {
                display: flex;
                font-size: 0.9rem;
            }
            li::before {
                content: "•";
                color: $c1;
                margin-right: 0.5rem;
            }
        }
        h3 {
            height: 70px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba($c2, 0.1);
            margin-bottom: 1.2rem;
            width: 100%;
            @media screen and (max-width: 991px) {
                height: auto;
                padding-bottom: 1.2rem;
            }
        }
        p {
            height: 175px;
            font-size: 0.9rem;
            @media screen and (max-width: 1399px) {
                height: 200px;
            }
            @media screen and (max-width:991px) {
                height: auto;
            }
        }
        .btn {
            text-align: center;
            width: 100%;
        }
    }
    .cta {
        margin: 5rem 0 0;
        text-align: center;
        h3 {
            @media screen and (min-width: 992px) {
                margin-right: 3rem;
            }
            @media screen and (max-width:991px) {
                margin-bottom: 2rem;
                line-height: 1.2;
            }
        }
    }
}

.highlight {
    color: $c1;
}

.progress-bar-with-text {
    position: relative;
    overflow-x: hidden;
    h2 {
        margin: 0.5rem 0 3rem;
        font-size: 2rem;
    }
    .booking-row {
        position: relative;
        margin: 2rem 0 0;
        padding-bottom: 1rem;
        overflow-x: hidden;
        .booking-wrapper {
            min-height: 650px;
            .calendly-inline-widget {
                height: 100% !important;
            }
        }
    }
    .form-testimonial {
        margin-top: 0.5rem;
        margin-bottom: 2.5rem;
        .text {
            padding-left: 2rem;
        }
        .author,
        a {
            @extend .sub;
            line-height: 1;
            font-size: 0.8rem;
        }
        .author {
            color: white;
            margin-right: 1rem;
            text-transform: uppercase;
        }
        a {
            display: block;
        }
        p {
            margin-bottom: 1rem;
        }
    }
    .action-item {
        margin-bottom: 1rem;
        .image {
            width: 100px;
            height: 100px;
            margin-right: 2rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .text {
            width: 100%;
            a {
                color: $c1;
            }
        }
    }
    @media screen and (max-width:575px) {
        .progress-bar span {
            font-size: 0.7rem;
            line-height: 1;
        }
    }
}

.split-testimonial-slider {
    height: 600px;
    @media screen and (max-width: 991px) {
        height: 100vh;
    }
    .slide {
        height: 600px;
        width: 100%;
        background-size: cover;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        outline: none !important;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            height: 100vh;
        }
        .image {
            height: 100%;
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 60%;
                width: 60%;
                object-fit: contain;
            }
            @media screen and (max-width:991px) {
                width: 100%;
                img {
                    height: 85%;
                    width: 85%;
                }
            }
        }
        .content {
            width: 45%;
            height: 100%;
            background-color: $c2;
            color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 3rem;
            @media screen and (max-width: 991px) {
                width: 100%;
                padding-bottom: 5rem;
                h3 {
                    font-size: 1.25rem;
                    max-width: 520px;
                }
            }
            h3 {
                color: #ffffff;
                font-size: 1.75rem;
                font-weight: 900;
                margin: 1rem 0;
                max-width: 500px;
            }
            .stars {
                display: flex;
            }
            .sub {
                color: rgba(#FFF, 0.5)
            }
            a {
                margin-top: 100px;
                color: #FFF;
                font-size: 1rem;
                @media screen and (max-width: 991px) {
                    margin-top: 50px;
                }
            }
        }
    }
    .arrow {
        position: absolute;
        z-index: 3;
        bottom: 1rem;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 250ms all ease;
        svg g {
            stroke: #FFF;
        }
        &:hover {
            background-color: $c1;
            svg g {
                stroke: #FFF;
            }
        }
        &.prev {
            right: calc(45% - 120px);
            cursor: w-resize;
            @media screen and (max-width: 991px) {
                right: unset;
                left: 10px;
            }
        }
        &.next {
            right: 60px;
            cursor: e-resize;
            @media screen and (max-width: 991px) {
                right: 10px;
            }
        }
    }
}

// .newsletter-cta {
//     padding: 10rem 0;
//     text-align: center;
//     .form {
//         margin: 2rem 0;
//         .newsletter-wrapper {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             @media screen and (max-width: 575px) {
//                 flex-direction: column;
//                 .submit-btn {
//                     text-align: center;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                     margin: 1rem 0;
//                     padding: 0;
//                     .ajax-loader {
//                         display: none;
//                     }
//                 }
//             }
//             input[type=email] {
//                 background-color: #ffffff;
//                 padding: 0.75rem 1rem;
//                 color: $medium-text;
//                 font-size: 0.9rem;
//                 &::placeholder {
//                     color: #bbb;
//                 }
//                 width: 280px;
//             }
//             input[type=submit] {
//                 @extend .btn;
//                 @extend .btn.solid;
//                 border-radius: 0;
//                 padding: 0.75rem 1rem;
//                 font-size: 0.8rem;
//             }
//         }
//     }
// }
.testimonial-list {
    padding: 5rem 0;
    h3 {
        font-size: 1.75rem;
        margin: 1rem 0;
    }
    .author {
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }
    .testimonial-row {
        border-bottom: 1px solid #E8E8E8;
        padding-top: 5rem;
        padding-bottom: 5rem;
        &:last-of-type {
            border-bottom: none;
        }
    }
    @media screen and (max-width:991px) {
        .arrow-btn {
            margin-bottom: 1rem;
        }
    }
}

.horizontal-cta {
    background-color: $c1;
    margin: 0;
    padding: 5rem 0;
    color: #FFF;
    .sub,
    h3 {
        color: #ffffff;
    }
    .sub {
        margin-bottom: 1rem;
    }
    h3 {
        font-weight: 700;
        font-size: 2.5rem;
        @media screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }
    a {
        margin-bottom: 1rem;
        @media screen and (max-width: 991px) {
            margin-top: 2rem;
        }
    }
}

.password-page {
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sidebar {
    top: 50px;
    position: sticky;
}

.post-cta {
    border: 1px solid #E8E8E8;
    display: block;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    transition: 250ms all ease;
    margin-bottom: 2rem;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h4 {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
    @media screen and (max-width:991px) and (min-width:768px) {
        padding: 1rem;
        h4 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        .btn {
            font-size: 0.8rem;
            padding: .75rem 0;
            width: 100%;
        }
        height:200px;
    }
    @media screen and (max-width:575px) {
        h4 {
            font-size: 1.5rem;
        }
    }
}

.masthead-image-slider {
    padding: 0;
    .slide {
        padding: 3rem 0;
        height: 100%;
        width: 100%;
        color: #FFF;
        h1,
        a,
        .sub {
            color: #FFF;
        }
    }
    .background-image {
        position: absolute;
        z-index: 0;
        margin: auto;
    }
    .container {
        z-index: 4;
        position: relative;
    }
    .slick-dots {
        position: absolute;
        display: flex !important;
        justify-content: center;
        z-index: 6;
        color: white;
        @media screen and (max-width: 991px) {
            width: 100%;
        }
        li {
            display: inline-block;
            button {
                color: transparent;
                height: 10px;
                width: 10px;
                font-size: 0;
                margin-right: 0.6rem;
                opacity: 0.6;
                outline: none !important;
                border: 1px solid $c1;
                border-radius: 50%;
            }
            &.slick-active {
                button {
                    opacity: 1;
                    background-color: $c1;
                }
            }
        }
    }
}

.full-width-post-type-selector,
.full-width-page-links {
    padding: 0;
    .col {
        padding: 5rem;
        height: 400px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
    }
    a,
    h3,
    h4,
    .sub {
        color: #FFF;
    }
}

.full-width-post-type-selector {
    h4 {
        font-size: 2rem;
        line-height: 1.2;
    }
}

.full-width-page-links {
    text-align: center;
    justify-content: center;
    .col {
        align-items: center;
        justify-content: center;
    }
    h3 {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}

.static-logo-list {
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    img {
        width: 200px;
        height: 100px;
        object-fit: contain;
    }
}

.post-type-offset-slider {
    .slider {
        margin: 2rem 0;
        transition: all 0.5s;
        @media screen and (min-width: 992px) {
            margin-left: calc((100vw - 960px)/3);
        }
        @media screen and (min-width:1200px) {
            margin-left: calc((100vw - 1140px)/3);
        }
        @media screen and (min-width:1400px) {
            margin-left: calc((100vw - 1350px)/2);
        }
    }
    .post-type-slide {
        height: 100%;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: #FFF;
        .sub {
            color: #FFF;
        }
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.image-gallery {
    .gallery {
        margin: 5rem -15px 2rem;
        a {
            transition: 250ms all ease;
            height: 235px;
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover {
                box-shadow: 0 22px 44px 0 rgba(0, 0, 0, 0.28);
                transform: translateY(-10px)
            }
        }
    }
}

.masthead-video-background {
    width: 100%;
    padding-top: 0;
    position: relative;
}

.post-preview-media {
    .video a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFF;
        opacity: 0.9;
        transition: 250ms all ease;
        margin-bottom: 2rem;
        width: 100%;
        height: 300px;
        background-size: cover;
        @media screen and (max-width: 575px) {
            height: 150px;
        }
        &:hover {
            opacity: 1;
        }
        h4 {
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 1rem;
        }
    }
}

.promos {
    .video a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFF;
        opacity: 0.9;
        transition: 250ms all ease;
        margin-bottom: 2rem;
        width: 100%;
        height: 300px;
        background-size: cover;
        @media screen and (max-width: 575px) {
            height: 150px;
        }
        &:hover {
            opacity: 1;
        }
        h4 {
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 1rem;
        }
    }
}